<ul class="icons">
	<li><a href="##" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
	<li><a href="https://www.facebook.com/groups/724130154352124/" target="new" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
	<li><a href="##" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
</ul>